// Text Colors
.text-blue {
    color: $blue;
  }
  .text-white {
    color: $white;
  }
  .text-black {
    color: $black;
  }
  
  // Background Colors
  .bg-blue {
    background: #0282f9;
  }
  .bg-white {
    background: #fff;
  }
  .bg-black {
    background: #1c1c1c;
  }
  .bg-darkgray {
    background: #303030;
  }