// Utilities
body {
    font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .shadow {
    box-shadow: 0 2px 25px 0 black;
  }